#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_configure:

override_dh_auto_build:
	maturin build --offline --sdist

override_dh_auto_install:
	pip install \
		--no-deps \
		--ignore-installed \
		--root=debian/tmp \
		--prefix=/usr \
		target/wheels/*.whl
	mv debian/tmp/usr/local/lib debian/tmp/usr/lib || echo $$?
	rm -rf debian/tmp/usr/local || echo $$?
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --with python3
